
<script>
$(function(){
  $('#myCarousel').carousel();
});
</script>


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= image_tag '1.jpg', size: '960x360' %></div>
    <div class="item"><%= image_tag '2.jpg', size: '960x360' %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



<br><br>

<h1>
<span class="highlight">
	<strong><center>Simplifying Registration</center></strong>
</span>

</h1>
<h3>Create
	<span class="highlight">
		<strong>Registartion form</strong>
	</span>
	online within minutes for your 
	<span class="highlight">
		<strong>Events, Seminars, Workshops </strong>
	</span>in a
	<span class="highlight">
		<strong>easy</strong>
	</span>
	and <span class="highlight"><strong>comprehensive </strong></span>
    way with our easy to use tools. Reach to 
    <span class="highlight"><strong>maximum applicant </strong></span>
with our Cloud Solutions.



</h3>
<br><br>

<h1>
<span class="highlight">
	<strong>Key Features</strong>
    </span> 
</h1>


<h3><strong>Unique URL</strong></h3>
<h4>Every user will get unique URL address  <br> of their choice. Applicants can apply <br> directly from your page.<br></h4>
<br>

<div class="pos">
<h3 ><strong>e-Receipt</strong></h3>
<h4 >Provide instant e-Receipts through e-mail for participant showing he  has sucessfully registered for event and e-mailing you that new participant has registered.</h4>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<h3><strong>Social Media Integration</strong></h3>
<h4>We provide facility to share your events<br>on social media networks such facebook,<br>twitter etc. so that you can get more<br>number of participants getting registered<br>for the event.</h4>

<br>
<div class="pos">
<h3 ><strong>Sending Notifications</strong></h3>
<h4>We provide facility to send notifications to participants of event about change in event's schedule through SMS and emails.</h4>
</div>

<br><br><br><br><br><br><br><br><br>
<h3><strong>Free of Cost</strong></h3>
<h4>We provide all this facility free of cost.<br>So,you can reach to get maximum<br>participants without paying anything.</h4>
<br>



