<h2>How to Register Instructions</h2>

<h4>1. Select the event from the Home page.</br>
2. See the description of the event and its timing.</br>
3. Click on Register and inter your name, email and moble number.</br>
4. Click on register and Pay.</br>
5. Pay using your preffered method.</br></br>
Congrats!!! You are done. You get a email to your email for your successfull registration.</h4>